*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    /* font-size: small; */
}

.offer-bar {
    /* width: 100%; */
    height: 10px;
    background-color: #1d232c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    transition: 2s;
}

.offer-bar_txt {
    color: #e2e1e1;
    font-size: .8em;
}

.offer-bar_txt span {
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.navbar-links{
    display: flex;
    column-gap: 30px;
}

.navbar-links a{
    text-decoration: none;
    color: #10232C;
}

.navbar-links a:hover{
    color: #10232C;
    text-decoration: underline;
}

.navbar-menu-toggle{
    display: none;
    cursor: pointer;
}

/* side navbar */

.side-navbar{
    background-color: #10232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -70%;
    padding: 20px;
    color: white;
    transition: 2s;
    z-index: 1;
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

/* Header */

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.header_txt{
    position: absolute;
    display: flex;
    top: 35%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

.header-img img{
    width: 210vh;
}

.header-btn{
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    background-color: #e2e1e1;
    cursor: pointer;
}

.brands{
    padding: 20px;
    margin: 5px;
}

.brands-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 10px;
    text-align: center;
}

.brands-container h2{
    font-weight:normal;
}

.service{
    padding: 20px;
    margin-top: 30px;
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 10px;
    padding: 10px;
}

.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding: 10px;
    margin-top: 10px;
    color: #1d232C;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 30px;
    border: none;
}

.most-wanted{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.most-wanted-container{
    position: relative;
    flex-basis: 20%;
}

.heart{
    position: absolute;
    bottom: 5%;
    left: 10%;
    /* margin: 5px; */
    padding: 10px 0px;
    height: 20px;
}

.black-heart, .red-heart{
    width: 12%;
}

.red-heart{
    display: none;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news-input{
    width: 80%;
}

.news-input input{
    padding: 11px;
    margin-bottom: 10px;
    border: solid black 2px;
    border-radius: 20px;
}

.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #10232C;
    padding: 10px;
    border-radius: 30px;
    border: none;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #10232C;
    color: #f2f4f7;
}

.product-section{
    margin-top: 20px;
}

.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus{
    outline: none;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5px;
    padding: 10px;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box {
    text-align: center;
    flex-basis: 30%;
}

.products-box img {
    border-radius: 10px;
}

.categories {
    border-right: solid #10232C 2px;
    height: 100%;
    padding: 10px;
    margin: 20px;
}

.Occasions, .Colors, .Arrivals{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px 30px; /* Some padding */ 
    border: 1px solid #747373; /* Gray border */
    border-radius: 20px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    background-color: #1d232C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #173d6e;
    transition: 1s;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
  }
  

/* Media Query */

@media screen and (max-width:600px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-img{
        width: 100%;
    }
    .service-container-2{
        flex-direction: column;
    }
    body{
        font-size:xx-small;
    }
    .new-arrival button{
        padding: 5px;
        font-size: xx-small;
    }
    .header-btn{
        padding: 10px;
        font-size: xx-small;
    }
    

}

@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-img{
        width: 100%;
    }
    /* .service-container-2{
        flex-direction: column;
    } */
    body{
        font-size:x-small;
    }
    .new-arrival button{
        padding: 5px;
        font-size: xx-small;
    }
    .header-btn{
        padding: 10px;
        font-size: xx-small;
    }

}

@media  screen and (max-width:900px){
    .header-img img{
        width: 100%;
    }
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header_txt{
        top: 20%;
    }
}

